In [53]:
#######################################################################
# This script was written by Nana Owusu, it is meant to preprocess    #
# metabolomic information from CSV files and using the mean absolute  #
# deviation of each treatment group, remove outliers.                 #
#######################################################################
# Modules for text interpretation and math
import os, sys, re, fnmatch
import numpy as np
# Modules for plotting and reading csv
import matplotlib.pyplot as plt
from matplotlib.figure import Figure
# import csv
import pandas as pd
%matplotlib inline
from ipywidgets import interactive
# Module for GUI
# import tkinter as tk
# from tkinter import filedialog
# Module for saving plots as PDF
# from matplotlib.backends.backend_pdf import PdfPages

## testing pandas

In [54]:
dataFile = pd.read_csv("/Users/nowusu/uiHackyHour/uihh_nowusu/20190723_chronicrotenoneisradipine_driftnorm.csv")

In [58]:
moleculesByTreatment = dataFile.groupby("Condition")

In [ ]:
columns = [col for col in dataFile.columns if col not in ["Condition", "sample"]]
columns

In [75]:
x = [1, 2, 3]
np.sum([np.abs(i - np.mean(x)) for i in x])

2.0

In [80]:
def MAD(x):
    
    thresh = np.sum([np.abs(i - np.mean(x)) for i in x]) / x.shape[0]
    lst = []
    for i in x:
        upper = i + thresh
        lower = i - thresh
        if i > upper or i < lower:
            lst.append(True)
        else:
            lst.append(False)
    
    return lst
        
    
# jk_df_groups.get_group('Rotenone')[columns].apply(np.mean)
jk_df_groups.get_group('Rotenone')[columns].apply(MAD)

,X1.Octadecanol,X2.Hydroxybutyrate,X2.Hydroxyglutarate,X2.Oxoadipate,X3.Hydroxypyruvate,X3.Phosphoglycerate,X6.Phosphogluconate,Aconitate,Adenine,Adenosine,...,Taurine,Threonine,Thymine,Tryptophan,Tyrosine,Uracil,Urea,Uridine,Valine,Xanthine
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False